In [1]:
import sys
sys.path.append(r'C:\pythonprojects\hypothesis\venv\Lib\site-packages')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import statsmodels.formula.api as smf

In [6]:
df = pd.read_csv('data/rideshare_2022.csv',parse_dates = ['Trip Start Timestamp','Trip End Timestamp'])
df= df.rename(columns={i:'_'.join(i.split(' ')).lower() for i in df.columns})
df
df.isnull().sum()  #checking the null values

trip_id                            0
trip_start_timestamp               0
trip_end_timestamp                 0
trip_seconds                      25
trip_miles                         2
pickup_census_tract           292155
dropoff_census_tract          293524
pickup_community_area          58006
dropoff_community_area         60667
fare                            1146
tip                             1146
additional_charges              1146
trip_total                      1146
shared_trip_authorized             0
trips_pooled                       0
pickup_centroid_latitude       56023
pickup_centroid_longitude      56023
pickup_centroid_location       56023
dropoff_centroid_latitude      58935
dropoff_centroid_longitude     58935
dropoff_centroid_location      58935
len_date                           0
dtype: int64

In [7]:
df = df.dropna()  #removing the null values
df.isnull().sum()

trip_id                       0
trip_start_timestamp          0
trip_end_timestamp            0
trip_seconds                  0
trip_miles                    0
pickup_census_tract           0
dropoff_census_tract          0
pickup_community_area         0
dropoff_community_area        0
fare                          0
tip                           0
additional_charges            0
trip_total                    0
shared_trip_authorized        0
trips_pooled                  0
pickup_centroid_latitude      0
pickup_centroid_longitude     0
pickup_centroid_location      0
dropoff_centroid_latitude     0
dropoff_centroid_longitude    0
dropoff_centroid_location     0
len_date                      0
dtype: int64

In [11]:
df['date'] = pd.to_datetime(df['trip_start_timestamp'].dt.date)  #creating a new column called date using trip start timestamp value
df.head(5)

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,...,shared_trip_authorized,trips_pooled,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,len_date,date
3,36c8a2a4cd85fb32ae32170550d2a4d30b8df8a1,2022-01-01,2022-01-01 00:15:00,243.0,1.0,1.703106e+10,1.703106e+10,6.0,6.0,5.0,...,0,1,41.936310,-87.651563,POINT (-87.6515625922 41.9363101308),41.943155,-87.640698,POINT (-87.640698076 41.9431550855),16,2022-01-01
4,493f7bbcba1d96bf10bd579fe1c4b7ddb95fd3a6,2022-01-01,2022-01-01 00:15:00,364.0,1.3,1.703107e+10,1.703106e+10,7.0,6.0,5.0,...,0,1,41.921855,-87.646211,POINT (-87.6462109769 41.9218549112),41.936237,-87.656412,POINT (-87.6564115308 41.9362371791),16,2022-01-01
5,5d07bc7d3534b93fd0c862b69b161857a6f43f52,2022-01-01,2022-01-01 00:15:00,467.0,2.2,1.703107e+10,1.703124e+10,7.0,24.0,7.5,...,0,1,41.928763,-87.665677,POINT (-87.665676837 41.9287630064),41.899737,-87.664954,POINT (-87.6649539167 41.8997373884),16,2022-01-01
8,8e49900df0154a3f1fe40fdff266a11d01a7f121,2022-01-01,2022-01-01 00:15:00,315.0,1.2,1.703184e+10,1.703183e+10,32.0,28.0,7.5,...,0,1,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.885281,-87.657233,POINT (-87.6572331997 41.8852813201),16,2022-01-01
11,be1aadeb82f5fb96fb05dfc8ff36a7908e529a44,2022-01-01,2022-01-01 00:15:00,964.0,1.5,1.703183e+10,1.703132e+10,28.0,32.0,10.0,...,0,1,41.885281,-87.657233,POINT (-87.6572331997 41.8852813201),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),16,2022-01-01

In [21]:
daily_rides = df.groupby('date').size().reset_index(name='daily_rides')
daily_rides  #counting the total number of rides based on the day

          date  daily_rides
0   2022-01-01          888
1   2022-01-02          464
2   2022-01-03          424
3   2022-01-04          407
4   2022-01-05          521
..         ...          ...
360 2022-12-27          683
361 2022-12-28          777
362 2022-12-29          916
363 2022-12-30         1220
364 2022-12-31         1731

[365 rows x 2 columns]

In [ ]:
#as this is the sample data of the original rideshares of chicago
#now we are calculating the sample standard deviation and sample mean of ride shares
sample_mean = daily_rides['daily_rides'].mean()
sample_std = daily_rides['daily_rides'].std()
print('The sample mean of ride share is:', sample_mean)
print('The sample standard deviation of ride share is:',sample_std)